<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<HTML xmlns:th="http://www.thymeleaf.org">
<head>
    <META content="IE=10.000" http-equiv="X-UA-Compatible" />
    <META http-equiv="pragma" content="no-cache" />
    <META name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <META name="apple-mobile-web-app-capable" content="yes" />
    <META name="apple-mobile-web-app-status-bar-style" content="black" />
    <META name="apple-touch-fullscreen" content="yes" />
    <META name="HandheldFriendly" content="true" />
    <META http-equiv="x-rim-auto-match" content="none" />
    <META name="format-detection" content="telephone=no" />

</head>

    WebSocket实时通信监测</br>

<input id="sendMsg" th:type="button" onclick="return sendMsg()" th:value="广播消息" ></input></br>
<a id="result"></a></br>
<a id="message"></a>
</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/webSocket.js}"></script>

<script>
    function sendMsg(){
        return send();
    }
</script>
</body>
</html>